footer {
    background: green;
    padding: 10px;
    color: white;
    a {
        color: #030303;
        font-size: 20px;
    }
    a:hover {
        color: white;
        font-size: 20px;
    }
}
